body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-jura: Jura;
  --font-inter: Inter;

  /* font sizes */
  --font-size-13xl: 32px;
  --font-size-xs: 12px;
  --font-size-base: 16px;
  --font-size-xl: 20px;
  --font-size-sm: 14px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: #858282;
  --color-gray-200: rgba(255, 255, 255, 0.2);
  --color-whitesmoke: #f3f3f3;
  --color-crimson: #f24863;
  --color-lightgray: #cecbcb;
  --color-dimgray: #575353;
  --color-darkslategray: #2a3747;
  --color-lightseagreen: #00ad98;

  /* Gaps */
  --gap-34xl: 53px;
  --gap-2xs: 11px;
  --gap-23xl: 42px;

  /* Paddings */
  --padding-57xl: 76px;
  --padding-2xs: 11px;
  --padding-xl: 20px;
  --padding-xs: 12px;
  --padding-2xl: 21px;
  --padding-39xl: 58px;
  --padding-15xl: 34px;
  --padding-base: 16px;
  --padding-3xs: 10px;
  --padding-smi: 13px;
  --padding-mini: 15px;
  --padding-8xl: 27px;
  --padding-7xl: 26px;
  --padding-8xs: 5px;
  --padding-7xs: 6px;
  --padding-mid: 17px;
  --padding-lg: 18px;
  --padding-3xl: 22px;
  --padding-11xs: 2px;
  --padding-17xl: 36px;
  --padding-9xl: 28px;
  --padding-sm: 14px;
  --padding-9xs: 4px;
  --padding-7xs-5: 5.5px;
  --padding-6xl: 25px;
  --padding-4xl: 23px;

  /* Border radiuses */
  --br-21xl: 40px;
  --br-9xl: 28px;
  --br-6xl: 25px;
  --br-base: 16px;
  --br-lg: 18px;
  --br-3xs: 10px;
}
